body{
    display: flex;
    height: 100%;
    overflow: git;
    background-color: black;
}
 .izquierda{
    width: 60%;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.izquierda .izq__titulo h1{
    font-size: 50px;
}
.izquierda .izq__img img{
    width: 400px;
    height: 400px;

}
/*  */
 .derecha{
    width: 40%;
    height: 100vh;
    background-color: yellow;
}